In [35]:
from datetime import datetime as dt
from datetime import timedelta
import datetime
import time
from pybit.unified_trading import HTTP
import pandas as pd
import requests
import json

In [36]:
def date_to_millis(datetime=None, year=None, month=None, day=None, hour=None, minute=None, sec=0):
    try:
        if datetime is None:
            date = dt(year, month, day, hour, minute, sec)
            date_obj = date.timestamp()
            millis = int(date_obj * 1000)
            return millis
        else:
            date_obj = datetime.timestamp()
            millis = int(date_obj * 1000)
            return millis
    except Exception as e:
        print(e)

In [37]:
def millis_to_date(value: int, ret_type='str'):
    try:
        seconds = value / 1000
        date = dt.fromtimestamp(seconds)
        if ret_type == 'str':
            return date.strftime('%d/%b/%Y %H:%M:%S.%f %p')
        elif ret_type == 'datetime':
            return date
    except Exception as e:
        print(e)

In [41]:
date_to_millis(dt(2024, 7, 6)) < date_to_millis(dt(2024, 7, 7))

True

In [14]:
def get_datetime(DateTime: dt = None, *args, **kwargs):
    date = {}
    if DateTime is None and args is None and kwargs is None:
        date['day'] = int(dt.now().strftime('%d'))
        date['month'] = int(dt.now().strftime('%m'))
        date['year'] = int(dt.now().strftime('%Y'))
        date['hour'] = int(dt.now().strftime('%H'))
        date['minute'] = int(dt.now().strftime('%M'))
        date['second'] = int(dt.now().strftime('%S'))
        date['milsec'] = int(dt.now().strftime('%f'))
        return date
    elif DateTime is not None and type(DateTime) == dt:
        date['day'] = int(DateTime.strftime('%d'))
        date['month'] = int(DateTime.strftime('%m'))
        date['year'] = int(DateTime.strftime('%Y'))
        date['hour'] = int(DateTime.strftime('%H'))
        date['minute'] = int(DateTime.strftime('%M'))
        date['second'] = int(DateTime.strftime('%S'))
        date['milsec'] = int(DateTime.strftime('%f'))
        return date
    else:
        try:
            if args:
                return dt(*args)
            elif kwargs:
                return dt(**kwargs)
        except:
            return None

In [17]:
def get_market_data(start_date_time_in_mils, end_date_time_in_mils, category="inverse",
                    symbol="BTCUSD", interval=30):
    try:
        start_value = start_date_time_in_mils + (self._one_minute_value_in_ms * 30)
        # This is where one minute converts into 30 minutes for 6AM morning time
        end_value = end_date_time_in_mils + (self._one_minute_value_in_ms * 30)
        # This is where one minute converts into 30 minutes for 6AM morning time

        market_data = pybit.get_kline(
            category=category, symbol=symbol, interval=interval, start=start_value, end=end_value
        )

        data_list = market_data['result']['list']
        df_list = []
        for item in data_list:
            df_list.append({
                'Start Time': pd.to_datetime(int(item[0]), unit='ms'),
                'Open': float(item[1]),
                'High': float(item[2]),
                'Low': float(item[3]),
                'Close': float(item[4]),
                'Volume': float(item[5]),
                'Turnover': float(item[6]),
            })

        print(df_list[-1])
    except Exception as e:
        print(e)

In [18]:
start_date = date_to_millis(datetime=dt.now())
get_market_data(start_date, start_date)

name 'self' is not defined

In [22]:
data = [
    {
        'Sl No': 13, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56693.0, 'IB_L': 56609.5, 'IB%': 0.15,
        'Volume': 2344384.0, 'Turnover': 41.3889732, 'Open Interest': 314366457.0, 'TP Price': '56779.3285', 'TP Time': pd.Timestamp('2024-07-06 01:03:00'),
        'SL Price': '55760.3575', 'SL Time': None, 'Win Loss No Trade': 1, 'Total % Gain': '-4.107084499951422', 'Entry Price': '56609.5', 'Entry Time': '2024-07-06 06:17:00'
    },
    {
        'Sl No': 1, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56689.5, 'IB_L': 56655.5, 'IB%': 0.06,
        'Volume': 1712881.0, 'Turnover': 30.22, 'Open Interest': 314366457.0
    },
    {
        'Sl No': 9, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56824.5, 'IB_L': 56771.0, 'IB%': 0.09,
        'Volume': 2094940.0, 'Turnover': 36.88287122, 'Open Interest': 314366457.0
    },
    {
        'Sl No': 10, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56916.5, 'IB_L': 56824.0, 'IB%': 0.16,
        'Volume': 2412398.0, 'Turnover': 42.40785811, 'Open Interest': 314366457.0
    },
    {
        'Sl No': 11, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56909.0, 'IB_L': 56851.5, 'IB%': 0.1,
        'Volume': 2184928.0, 'Turnover': 38.40555948, 'Open Interest': 314366457.0
    },
    {
        'Sl No': 12, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56878.5, 'IB_L': 56804.0, 'IB%': 0.13,
        'Volume': 1819865.0, 'Turnover': 32.02752334, 'Open Interest': 314366457.0
    },
    {
        'Sl No': 13, 'Date': '06/Jul/2024', 'Day': 'Sat', 'Trade Type': 'Short', 'IB_H': 56810.5, 'IB_L': 56693.0, 'IB%': 0.21,
        'Volume': 2874002.0, 'Turnover': 50.64001183, 'Open Interest': 314366457.0
    }
]
pd.DataFrame(data)

,Sl No,Date,Day,Trade Type,IB_H,IB_L,IB%,Volume,Turnover,Open Interest,TP Price,TP Time,SL Price,SL Time,Win Loss No Trade,Total % Gain,Entry Price,Entry Time
0,13,06/Jul/2024,Sat,Short,56693.0,56609.5,0.15,2344384.0,41.388973,314366457.0,56779.3285,2024-07-06 01:03:00,55760.3575,NaN,1.0,-4.107084499951422,56609.5,2024-07-06 06:17:00
1,1,06/Jul/2024,Sat,Short,56689.5,56655.5,0.06,1712881.0,30.220000,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,9,06/Jul/2024,Sat,Short,56824.5,56771.0,0.09,2094940.0,36.882871,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,10,06/Jul/2024,Sat,Short,56916.5,56824.0,0.16,2412398.0,42.407858,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,11,06/Jul/2024,Sat,Short,56909.0,56851.5,0.10,2184928.0,38.405559,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5,12,06/Jul/2024,Sat,Short,56878.5,56804.0,0.13,1819865.0,32.027523,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
6,13,06/Jul/2024,Sat,Short,56810.5,56693.0,0.21,2874002.0,50.640012,314366457.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN